pkgbase = glypdl
	pkgdesc = A lightweight native Linux graphical frontend for yt-dlp
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/sureshsoudararajan/Glypdl
	arch = any
	license = GPL3
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	optdepends = ffmpeg: for merging audio and video streams
	provides = glypdl
	conflicts = glypdl
	source = glypdl-1.2.0.tar.gz::https://github.com/sureshsoudararajan/Glypdl/archive/v1.2.0.tar.gz
	sha256sums = SKIP

pkgname = glypdl
